.jira-phone-plugin-button {
    display: none !important;
}
.jira-phone-plugin-button.gbc-processed {
    display: block !important;
}
.jira-phone-plugin-button .jira-phone-plugin-icon {
    background: url(images/phone-online.png);
    background-size: contain;
}
.jira-phone-offline-plugin-button .jira-phone-offline-plugin-icon {
    background: url(images/phone-offline.png);
    background-size: contain;
}
.jira-search-phone-button .jira-search-phone-icon {
    background: url(images/search-phones.png);
    background-size: contain;
}